@page "/biblioteca"

<PageTitle>Biblioteca</PageTitle>

<div class="row pt-5 px-5">
   <div class="col-md-12">
        <div class="col-12">
            <RadzenText Text="BIBLIOTECA" TextStyle="Radzen.Blazor.TextStyle.DisplayH3" TagName="Radzen.Blazor.TagName.Auto" Style="text-align: center; font-weight: 700; font-size: 50px" TextAlign="Radzen.TextAlign.Center"></RadzenText>
        </div>
    </div>
</div>
