@page "/biblioteca"
@using CalendarioForestal.Models
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Biblioteca</PageTitle>

<div class="row pt-5 px-5">
   <div class="col-md-12">
        <div class="col-12">
            <RadzenText Text="BIBLIOTECA DE RECURSOS" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.Auto" Style="text-align: center; font-weight: 700; font-size: 25px" TextAlign="Radzen.TextAlign.Center"></RadzenText>
        </div>
    </div>
</div>
<div>
    <RadzenDataList WrapItems="true" AllowPaging="true" PageSize="10" Data="@bibliotecaFiles" TItem="bibliotecaItem" PageNumbersCount="6" Style="font-family: Helvetica Neue" PagerAlwaysVisible="true" PagerHorizontalAlign="Radzen.HorizontalAlign.Center" PagerPosition="Radzen.PagerPosition.Bottom">
        <Template Context="fileElement">
            <RadzenCard Style="width: 250px; text-align: center; margin: 5px">
                <div class="row">
                    <b>@fileElement.name</b>
                        <a >
                            <img src="@fileElement.image" alt="Calendario" style="width: 150px; height: 150px">
                        </a>
                </div>
                <RadzenButton Style="background-color: rgb(71, 125, 26); text-decoration: none" Click="@(args => OpenViewer(fileElement.image))"><RadzenIcon Icon="find_in_page"></RadzenIcon>Ver Archivo</RadzenButton>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>
