@page "/"
<PageTitle>Calendario Forestal</PageTitle>
 
<div class="row pt-5 px-5">
   <div class="col-md-12">
        <div class="col-12">
            <RadzenText Text="CALENDARIO FORESTAL" TextStyle="Radzen.Blazor.TextStyle.DisplayH2" TagName="Radzen.Blazor.TagName.Auto" Style="text-align: center; font-weight: 700; font-size: 60px" TextAlign="Radzen.TextAlign.Center"></RadzenText>
        </div>
    </div>
    <div class="col-12" style="text-align: center">
        <RadzenText Text="INSTITUTO NACIONAL DE BOSQUES DIRECCIÓN DE DESARROLLO FORESTAL DEPARTAMENTO DE FORTALECIMIENTO FORESTAL MUNICIPAL Y COMUNAL" TextStyle="Radzen.Blazor.TextStyle.H5" TagName="Radzen.Blazor.TagName.H2" class="mt-5" TextAlign="Radzen.TextAlign.Center"></RadzenText>
        <div class="py-3 py-lg-4" style="color: var(--rz-primary-light); padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border); display: flex; flex-direction: column; gap: 1rem; align-items: center; background-color: rgba(175, 67, 67, 0); text-align: center">
            <RadzenImage Path="\images\logo-blanco.footer.png" Style="width: 192px; height: 114px; text-align: center"></RadzenImage>
        </div>
        <RadzenText Text="Rucholajem samaj pa ruwi’ ruchajixik K’echelaj" TextStyle="Radzen.Blazor.TextStyle.H1" TagName="Radzen.Blazor.TagName.Auto" class="mt-5" Style="font-size: 20px; line-height: 24px" TextAlign="Radzen.TextAlign.Center"></RadzenText>
        <RadzenText Text="CALENDARIO FORESTAL DESDE LOS CONOCIMIENTOS ANCESTRALES Y PRÁCTICAS TRADICIONALES DE LOS PUEBLOS INDÍGENAS" TextStyle="Radzen.Blazor.TextStyle.Body1" TagName="Radzen.Blazor.TagName.Auto" class="mt-3" Style="font-size: 20px; line-height: 24px; height: 102px" TextAlign="Radzen.TextAlign.Center"></RadzenText>
    </div>
</div>
<RadzenFooter Style="background-color: rgba(122, 159, 106, 0.55); height: 35px"></RadzenFooter>